/* Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Whole Doc */
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(133, 21, 108);
}

/* Slider */
.slider{
    position: absolute;
    width: 60%;
    overflow: hidden;
}

.images{
    display: flex;
    width: 100%;
}

.images img{
    height: 800px;
    width: 100%;
    background-size: cover;
    transition: all 0.5s ease-in;
}

.images input{
    display: none;
}

/* Navigation */
.squares{
    display: flex;
    justify-content: center;
    margin: 5px;
}

.squares label{
    height: 20px;
    width: 20px;
    border-radius: 4%;
    border: white solid 3px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.5s ease-in;
}

.squares label:hover{
    background-color: white;
}

/* Point Radio  Buttons to Images */
#img1:checked ~ .im1{
    margin-left: 0;
}

#img2:checked ~ .im2{
    margin-left: -100%;
}

#img3:checked ~ .im3{
    margin-left: -200%;
}

#img4:checked ~ .im4{
    margin-left: -300%;
}

/* Responsive */
@media(max-width:1550px){
    .slider{
        width: 48%;
    }

    .images img{
        height: 500px;
    }
}

@media(max-width:1000px){
    .slider{
        width: 43%;
    }

    .images img{
        height: 360px;
    }
}

@media(max-width:800px){
    .slider{
        width: 40%;
    }

    .images img{
        height: 250px;
    }
}

@media(max-width:590px){
    .slider{
        width: 38%;
    }

    .images img{
        height: 150px;
    }
}